<div class="row">
    <div class="col-md-12" ng-controller="MivviBioCtrl">
        <div class="panel panel-default">
            <div class="panel-body">
                <timeline>
                    <timeline-event ng-repeat="event in events" side="alternate">
                        <timeline-badge class="{{event.badgeClass}}">
                            <i class="glyphicon {{event.badgeIconClass}}"></i>
                        </timeline-badge>
                        <timeline-panel class="{{event.badgeClass}}">
                            <timeline-heading>
                                <h4>{{event.title}}</h4>
                            </timeline-heading>
                            <p>{{event.content}}</p>
                            <img ng-if="event.imageurl" ng-src="{{event.imageurl}}"/>
                        </timeline-panel>
                    </timeline-event>
                </timeline>
            </div>
        </div>
    </div>
</div>
