<div class="row">
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-header">
                <p>Everything Changes</p>
            </div>
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-6">
                            <img src="images/everythingchanges.jpg" class="img-responsive" />
                        </div>
                        <div class="col-md-6">
                            <p>Release Date</p>
                            <p>May 2015</p>
                            <p>Links</p>
                            <p><a href="https://itunes.apple.com/gb/album/everything-changes/id1058005969"><img src="images/itunes.png"/></a>&nbsp;
                            <a href="https://www.amazon.co.uk/Everything-Changes-Explicit-Mivvi/dp/B018163LQO/"><img src="images/amazonmp3.png"/></a>&nbsp;
                            <a href="https://play.google.com/store/music/album?id=Bwj6vg6gmrdvlqzrfsibm7yp3ey"><img src="images/googleplay.png"/></a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-header">
                <p>Album Details</p>
            </div>
            <div class="panel panel-default">
                <div class="panel-body">
                    <ol>
                        <li>Million Miles</li>
                        <li>Going Solo</li>
                        <li>Knight in Rusty Armour</li>
                        <li>Everything Changes</li>
                        <li>Tresines</li>
                        <li>The D Tune</li>
                        <li>Psycho Smile</li>
                        <li>DSW</li>
                        <li>Only 2 Hours Away</li>
                        <li>The Perfume Song</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-header">
                <p>Zombie 500 (Charity Single)</p>
            </div>
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="col-md-6">
                        <img src="images/zombie500.jpg" class="img-responsive" />
                    </div>
                    <div class="col-md-6">
                        <p>Release Date</p>
                        <p>May 2013</p>
                            <p>Links</p>
                            <p><a href="https://itunes.apple.com/gb/album/zombie-500-single/id699297994"><img src="images/itunes.png"/></a>&nbsp;
                            <a href="https://www.amazon.co.uk/Zombie-500-Mivvi/dp/B00F2VLCPO/"><img src="images/amazonmp3.png"/></a>&nbsp;
                            <a href="https://play.google.com/store/music/album?id=B46bnjbqzkgziy7dfybaytbvqgu"><img src="images/googleplay.png"/></a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-header">
                <p>Single Details</p>
            </div>
            <div class="panel panel-default">
                <div class="panel-body">
                    <ol>
                        <li>The Zombie 500 Theme (Psycho Smile)</li>
                        <li>Knight In Rusty Armour (Acoustic Version)</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-header">
                <p>Mivvi vs The Machine</p>
            </div>
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="col-md-6">
                        <img src="images/mivvivsthemachine.jpg" class="img-responsive" />
                    </div>
                    <div class="col-md-6">
                        <p>Release Date</p>
                        <p>September 2004</p>
                            <p>Links</p>
                            <p><a href="https://itunes.apple.com/gb/album/mivvi-versus-the-machine/id1058576863"><img src="images/itunes.png"/></a>&nbsp;<a href="https://www.amazon.co.uk/Mivvi-Versus-Machine/dp/B0181J1POG/"><img src="images/amazonmp3.png"/></a>&nbsp;
                            <a href="https://play.google.com/store/music/album?id=B2h22ugasvqchzv54x3wrf2otii"><img src="images/googleplay.png"/></a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-header">
                <p>Album Details</p>
            </div>
            <div class="panel panel-default">
                <div class="panel-body">
                    <ol>
                        <li>You, Me and Him</li>
                        <li>Heavens Above (It's 40 below)</li>
                        <li>Secret's Out</li>
                        <li>Crash!!</li>
                        <li>Hoodoo Celebrity</li>
                        <li>Dayaway</li>
                        <li>Day in the City</li>
                        <li>Clownfoot</li>
                        <li>Always at Zero</li>
                        <li>Barrel</li>
                        <li>Beautie Crew</li>
                        <li>Take a Look</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</div>
