<div class="row">
    <div class="col-md-12" ng-controller="MivviBioCtrl">
        <div class="panel panel-default">
            <div class="panel-body">
                <center>
                    <form action='http://hosting.heartinternet.uk/list.cgi' method='post'>
                        <input type='hidden' name='list' value='Mivvi-Fan' />
                        <input type='hidden' name='redirect-success' value='http://www.mivvi.co.uk/#/news' />
                        <b>Join Our Mailing List</b>
                        <br/>
                        <input type='text' name='email' />
                        <br/>
                        <input class='radio' type='radio' name='action' value='add' checked='checked' />Subscribe
                        <input class='radio' type='radio' name='action' value='delete' />Unsubscribe
                        <br/>
                        <input type='submit' value='Join Us' />
                    </form>
                </center>
            </div>
        </div>
    </div>
</div>
