<div class="row">
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-header">
                <p>Podcasts</p>
            </div>
            <div class="panel-body">
                <iframe id='ei8096445' src='http://therumble.podomatic.com/embed/frame/posting/2016-06-14T14_36_35-07_00?json_url=http%3A%2F%2Ftherumble.podomatic.com%2Fentry%2Fembed_params%2F2016-06-14T14_36_35-07_00%3Fcolor%3D43bee7%26autoPlay%3Dfalse%26facebook%3Dtrue%26height%3D85%26width%3D300%26minicast%3Dfalse%26objembed%3D0&notb=1' height='85' width='300'frameborder='0' marginheight='0' marginwidth='0' scrolling='no' allowfullscreen></iframe>
            </div>
        </div>
    </div>
    <div class="col-md-8">
        <div class="panel panel-default">
            <div class="panel-header">
                <p>videos</p>
            </div>
            <div class="panel-body">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe src="http://www.youtube.com/embed/?listType=user_uploads&list=mivviband"></iframe>                   
                </div>
            </div>
        </div>
    </div>
</div>
