<div class="row" ng-controller="MivviNewsCtrl">
    <div class="col-md-8">
        <div class="row">
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-header">
                        <p>Latest News</p>
                    </div>
                    <div class="panel-body">
                        <div>
                            <p>Hi we are Mivvi, </p>
                            <p>The four piece Indie Rock band, that never grew up, and will never give up. </p>
                            <p>We are so excited to announce we recently made the trip down to London to record the third album with the one and the only Pat Collier. Pat is responsible for the recording's and production of a long list of Indie/alternative bands from the 80's 90's the likes of, The House Of Love, The Wonderstuff, Jesus and Mary Chain, Primal Scream, The Darling Buds and The Soup Dragons. </p>
                            <p>We cannot wait for you to hear our new stuff, and by signing up to our Pledge, you can experience a whole heap of gifts from us to you.</p>
                            <p>We believe that music is back were it belongs, with the fans. As independent artists, we cannot do what we love, without you.</p>
                            <p>We look forward to seeing you all for the album launch night, were gonna have a great time, guaranteed.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-header">
                        <p>Pledge Music Offer</p>
                    </div>
                    <div class="panel-body">
                        <iframe allowTransparency="true" frameborder="0" scrolling="no" src="https://artists.pledgemusic.com/widgets/9320.html?embedded=true&amp;utm_campaign=widget9320&amp;utm_medium=artist_widget" style="border: 0; padding: 0;width:280px;height:340px;"></iframe>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe src="https://www.youtube.com/embed/z9Lp37w2woA" frameborder="0" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="fb-page" data-href="https://www.facebook.com/Mivvi/" data-tabs="timeline" data-small-header="true" data-adapt-container-width="true" data-hide-cover="true" data-show-facepile="true">
                    <blockquote cite="https://www.facebook.com/Mivvi/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/Mivvi/">Mivvi</a></blockquote>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-body twitter-panel">
                <div twitter-timeline="747373556204445697" auto-resize="true" data-tweet-limit="4">Loading tweets...</div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-body">
                <div>
                    <iframe width="100%" height="300" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/235073219&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true" ng-onload="showplayer()"></iframe>
                </div>
            </div>
        </div>
    </div>
</div>
