@mixin box-shadow($top, $left, $blur, $color, $power: 0, $inset: false) {
    @if $inset {
        -webkit-box-shadow: inset $top $left $blur $power $color;
        -moz-box-shadow: inset $top $left $blur $power $color;
        box-shadow: inset $top $left $blur $power $color;
    }
    @else {
        -webkit-box-shadow: $top $left $blur $power $color;
        -moz-box-shadow: $top $left $blur $power $color;
        box-shadow: $top $left $blur $power $color;
    }
}

@mixin button($color: $red, $text_color: $white) {
    display: inline-block;
    outline: none;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    font: 14px/100% Arial, Helvetica, sans-serif;
    padding: .2em .5em .2em;
    text-shadow: 0 1px 1px rgba(0, 0, 0, .3);
    @include rounded();
    @include box-shadow(0, 1px, 2px, rgba(0, 0, 0, 0.2));
    color: $text_color !important;
    font-weight: bold;
    border: solid 1px darken($color, 18%);
    background: $color;
    @include gradient(lighten($color, 15%), darken($color, 15%));
    &:hover {
        text-decoration: none;
        background: saturate($color, 10%);
        @include gradient(lighten($color, 5%), darken($color, 5%));
    }
}

@mixin rounded($radius: 0.5em) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    border-radius: $radius;
}

@mixin gradient($from, $to) {
    background: -webkit-gradient(linear, left top, left bottom, from($from), to($to));
    background: -moz-linear-gradient(top, $from, $to);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#{$from}', endColorstr='#{$to}');
}

@mixin linear-gradient($direction, $color-stops...) {
  // Direction has been omitted and happens to be a color-stop
  @if is-direction($direction) == false {
    $color-stops: $direction, $color-stops;
    $direction: 180deg;
  }

  background: nth(nth($color-stops, 1), 1);
  background: -webkit-linear-gradient(legacy-direction($direction), $color-stops);
  background: linear-gradient($direction, $color-stops);
}

// generic transform
@mixin transform($transforms) {
    -moz-transform: $transforms;
    -o-transform: $transforms;
    -ms-transform: $transforms;
    -webkit-transform: $transforms;
    transform: $transforms;
}

// rotate
@mixin rotate ($deg) {
    @include transform(rotate(#{$deg}deg));
}

@mixin transition($args) {
    -webkit-transition: $args;
    -moz-transition: $args;
    -ms-transition: $args;
    -o-transition: $args;
    transition: $args;
}

@mixin opacity($opacity) {
    opacity: $opacity;
    $opacity-ie: $opacity * 100;
    filter: alpha(opacity=$opacity-ie); //IE8
}

@mixin animation ($delay, $duration, $animation) {
    -webkit-animation-delay: $delay;
    -webkit-animation-duration: $duration;
    -webkit-animation-name: $animation;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-delay: $delay;
    -moz-animation-duration: $duration;
    -moz-animation-name: $animation;
    -moz-animation-fill-mode: forwards;
    -o-animation-delay: $delay;
    -o-animation-duration: $duration;
    -o-animation-name: $animation;
    -o-animation-fill-mode: forwards;
    animation-delay: $delay;
    animation-duration: $duration;
    animation-name: $animation;
    animation-fill-mode: forwards;
}

@mixin bp-small {
  @media only screen and (min-width: 420px) {
    @content;
  }
}

@mixin bp-medium {
  @media only screen and (min-width: 690px) {
    @content;
  }
}

@mixin bp-large {
  @media only screen and (min-width: 920px) {
    @content;
  }
}

@mixin bp-x-large {
    @media only screen and (min-width: 1024px) {
        @content;
    }
}

@mixin bp-under-large {
    @media only screen and (max-width: 919px) {
        @content;
    }
}

@mixin bp-tablet-view {
    @media only screen and (min-width: 920px) and (max-width: 1023px) {
        @content;
    }
}
